.section__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 420px;
  margin-bottom: 236px;
  margin-top: 128px;
}

@media screen and (max-width: 1440px) {
    .section__page {
      margin-bottom: 62px;
  }
}

@media screen and (max-width: 360px) {
  .section__page {
    margin-bottom: 46px;
    margin-top: 64px;
  }
}
.section__page-title {
  padding: 0px 0px 4px 0px;
  margin: 0;
  font-size: 48px;
  line-height: 57px;
  text-align: center;
}

@media screen and (max-width: 360px) {
  .section__page-title {
    font-size: 32px;
    line-height: 38px;
}
}

.section__page-info {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__page-info::before {
  content: "";
  width: 300px;
  height: 366px;
  border: 1px solid #828289;
  position: absolute;
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}
.section__page-info::after {
  content: "";
  width: 300px;
  height: 366px;
  border: 1px solid #828289;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}

@media screen and (max-width: 708px) {
  .section__page-info::after {
    display: none;
  }
  .section__page-info::before {
    display: none;
  }
}

.suppsystem {
  padding: 4px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
.suppsystem__icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.suppsystem__text {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #B2B6FF;
}
.section__page-text {
  padding: 0;
  margin: 0px 0px 32px 0px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  max-width: 752px;
  color: #8C8E94;
  z-index: 10;
}
.section__page-link {
  color: #B2B6FF;
}
.section__page-button {
  all: unset;
  border: 2px solid #fff;
  border-radius: 96px;
  z-index: 10;
}

.section__page-button:hover {
  cursor: pointer;
}

.section__page-button-content {
  padding: 32px 305px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .section__page-button-content {
    padding: 32px 257px;
  }
}

@media screen and (max-width: 708px) {
  .section__page-button-content {
    padding: 32px 122px;
  }
}

@media screen and (max-width: 360px) {
  .section__page-button-content {
    padding: 32px 100px;
  }
}

.section__page-button-icon {
  margin-right: 16px;
}
.section__page-button-text {
  padding: 0;
  margin: 0;
}