.page {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: #121214;
  min-height: 100vh;
  position: relative;
  width: 100%;
  color: #fff;
  z-index: 1;
  overflow: hidden;
}

.header {
  width: 100%;
  padding-top: 32px;
  margin-bottom: 185px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1440px) {
  .header {
    margin-bottom: 155px;
  }
}

@media screen and (max-width: 580px) {
  .header {
    margin-bottom: 65px;
  }
}

.header__logo {
  width: 163px;
  height: 42px;
}

.content {
  height: 100%;
  display: flex;
  justify-content: center;
}

.register-form {
  background-color: #151518;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 32px;
}
.register-form__title {
  padding: 0;
  margin: 0px 0px 24px 0px;
}
.register-form__form {
  display: flex;
  flex-direction: column;
}

.register-form__input {
  border: none;
  outline: none;
  background: #2B2B31;
  color: #fff;
  border-radius: 8px;
  height: 43px;
  padding: 0 24px;
}
.register-form__input_login {
  margin-bottom: 16px;
}
.register-form__input_email {
  margin-bottom: 16px;
}
.register-form__input_password {
  margin-bottom: 16px;
}
.register-form__input_repeat-password {
  margin-bottom: 24px;
}
.register-form__capcha {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 580px) {
  .register-form__capcha {
    flex-direction: column;
  }
}

.register-form__img-capcha {
  padding-right: 16px;
}

@media screen and (max-width: 580px) {
  .register-form__img-capcha {
    flex-direction: column;
    width: 288px;
    height: 75px;
    padding: 0;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 360px) {
  .register-form__img-capcha {
    flex-direction: column;
    width: 250px;
    height: 75px;
    padding: 0;
    margin-bottom: 16px;
  }
}

.register-form__input_capcha {
  width: calc(242px - 24px - 24px);
}

@media screen and (max-width: 580px) {
  .register-form__input_capcha {
    width: calc(288px - 24px - 24px);
    height: 41px;
    flex-direction: column;
  }
}

@media screen and (max-width: 360px) {
  .register-form__input_capcha {
    width: calc(250px - 24px - 24px);
    height: 41px;
    flex-direction: column;
  }
}

.register-form__submit-btn {
  margin: 24px 0px 0px 0px;
  background-color: #B2B6FF;
  color: #121214;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}

.register-form__signin {
  padding: 0;
  margin: 24px 0px 16px 0px;
  color: #6C6C7A;
}
.register-form__signin-link {
  border: none;
  background: none;
  color: #B2B6FF;
}

.register-form__signin-link:hover {
  cursor: pointer;
}
.register-form__error {
  display: block;
  color: #FF2048;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 5%;
  word-wrap: break-word;
  white-space: normal;
}

@media screen and (max-width: 580px) {
  .register-form__error {
    width: 288px;
  }
}

@media screen and (max-width: 360px) {
  .register-form__error {
    width: 242px;
    font-size: 14px;
    line-height: 16px;
  }
}

