.section__page-info {
  margin: 72px 0px 183px 0px;
}

.settings {
  display: grid;
  max-width: 888px;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
  "password discord hwid"
  "two-factor two-factor two-factor";
  grid-column-gap: 24px;
  grid-row-gap: 32px;
}

@media screen and (max-width: 768px) {
  .settings {
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-areas: 
    "password discord"
    "hwid hwid"
    "two-factor two-factor";
  }
}

@media screen and (max-width: 360px) {
  .settings {
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    grid-template-areas: 
    "password"
    "hwid"
    "discord"
    "two-factor";
    grid-row-gap: 12px;
  }
}

.settings__element_password {
  grid-area: password;
}
.setting__element-button {
  all: unset;
  border: 2px solid #fff;
  border-radius: 96px;
  width: 100%;
  text-align: center;
  padding: 20px 0px;
}
.setting__element-text {
  padding: 0;
  margin: 16px 0px 0px 0px;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  opacity: 40%;
  text-align: center;
}

@media screen and (max-width: 360px) {
  .setting__element-text {
    margin: 8px 0px 0px 0px;
  }
}

.settings__element_discord {
  grid-area: discord;
}
.settings__element_hwid {
  grid-area: hwid; 
}
.settings__element_two-factor {
  grid-area: two-factor;
}